@media (min-width: 480px) and (orientation: portrait){
	.container-two {
		margin-top: 38em;
	}
	p {
		font-size: 2em;
	}
	button {
		margin-top: 2em;
		transform: scale(2);
	}
}

@media screen and (max-width: 768px) and (orientation: portrait) {
	.container-two {
		margin-top: 20em;
	}
}

@media screen and (orientation: landscape) {
	.container-two {
		margin-top: 5em;
	}
}

body {
	margin: 0;
	background: #0f0f0f;
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
	height: 100%;
}

h1 {
	font-family: "Nothing You Could Do", cursive;
	font-size: 12em;
	color: white;
	text-align: center;
	/*margin-bottom: 2rem;*/
}

p {
	font-family: "Raleway";
	text-align: center;
	color: #f0f0f0;
	margin-bottom: 2em;
	margin-right: 2em;
	margin-left: 2em;
	/*font-size: 1em;*/
}

ul {
	list-style: none;
}

.container-two {
	/*margin-top: 2em;*/
	margin-bottom: auto;
	text-align: center;
}

button {
	display: inline;
	margin-top: 5em;
}

.btn {
	border: 2px solid white;
	font-family: "Raleway";
	font-size: inherit;
	color: white;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	overflow: hidden;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn:hover,
.btn:active {
	color: #0f0f0f;
}

.btn:hover:after {
	height: 260%;
	opacity: 1;
}

.btn:active:after {
	height: 400%;
	opacity: 1;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	margin-bottom: 0;
	margin-top: 0;
}

.slideshow,
.slideshow:after { 
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -10;
	margin-top: 0;
}

.slideshow:after {
	content: '';
	background: rgba(0, 0, 0, 0.5); 
}

.slideshow li span { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	opacity: 0;
	z-index: -10;
	animation: imageAnimation 48s linear infinite 0s; 
}

.slideshow li:nth-child(1) span { 
	background-image: url("./screenshots/Press E to Fly.png"); 
}
.slideshow li:nth-child(2) span { 
	background-image: url("./screenshots/First Island.png"); 
	animation-delay: 6s;
}
.slideshow li:nth-child(3) span { 
	background-image: url("./screenshots/First Spirit World.png");
	animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
	background-image: url("./screenshots/Second Island.png");
	animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
	background-image: url("./screenshots/Second Spirit World.png");
	animation-delay: 24s; 
}
.slideshow li:nth-child(6) span { 
	background-image: url("./screenshots/Third Island.png");
	animation-delay: 30s; 
}
.slideshow li:nth-child(7) span { 
	background-image: url("./screenshots/Third Spirit World.png");
	animation-delay: 36s; 
}
.slideshow li:nth-child(8) span { 
	background-image: url("./screenshots/Wheel.png");
	animation-delay: 42s; 
}

@keyframes imageAnimation { 
	0% { opacity: 0; animation-timing-function: ease-in; }
	8% { opacity: 1; animation-timing-function: ease-out; }
	17% { opacity: 1 }
	25% { opacity: 0 }
	100% { opacity: 0 }
}
